{% if latest_5_questions  %}
  <ul>
    {% for question in latest_5_questions %}
    <li>
      <a href="/polls/{{ question.id }}/">
        {{ question.question_text }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No polls are available</p>
{% endif %}
